body {
  padding-top: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#signOut {
  border-color: white;
  color: white;
}


.clubGrid {
  /* border: 5px;
  border-color: black;
  outline-color: black;
  outline-style:solid; */
  padding-right: 20px;
}

.clubElem {
  /* padding-top: 10px;
  padding-bottom: 10px; */
  overflow:hidden;
  text-overflow:ellipsis;
  height: 100px;
  overflow-y: auto;
  /* padding-right: 5px; */
}
.clubIcon img{
  padding: 10px;
  max-width: 70%;
  max-height: 70%;
}

.textlink {
  background: none;
  border: none;
  font-weight: bold;
  padding-left: 0px;
  color: #0d6efd;
}
/* .clubInfo {
  padding-left: 5px;
} */
.dropdown-menu {
  /* prevents dropdown from going off screen */
  left: auto;
  right: 0;
}
/* .navbar-nav{
  margin-bottom: 10px;
  padding-bottom: 10px;
} */

